<br/><hr/>
<i>Generated ${DATE} by ${FPDOC} from the fpgeanyplugin package, &copy; ${PUB_YEAR} Robert Di Pardo. Permitted usage is detailed in the <a href="https://raw.githubusercontent.com/rdipardo/fpgeanyplugin/main/COPYING" target="_blank">COPYING</a> file.<br/><br/>
Complete API documentation can be found in the <a href="https://www.geany.org/manual/reference" target="_blank">Geany plugin reference manual</a>, &copy; The Geany contributors, licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA</a>.</i>
