*~
*.bak
*.res
*.zip
*.exe
*.dll
*.so
*.dcu
*.dci
*.dcp
*.dsk
*.dof
*.h
*.o
*.or
*.ppu
*.drc
*.lps
*.local
*.tmp
**/gtk3.cfg
**/[Dd]efault/*
**/[Dd]ebug/*
**/[Rr]elease/*
**/[Ll]ib/**/*
**/[Bb]in/**/*
**/backup/
**/docs/html
!src/h2pas*
