<br/><hr/>
<i>Generated ${DATE} by ${FPDOC} from the Lazarus Component Library (LCL). See the file <a href="https://gitlab.com/freepascal.org/lazarus/lazarus/-/raw/main/COPYING.modifiedLGPL.txt"  target="_blank">COPYING.modifiedLGPL.txt</a> for details about the license.</i>
