#
# SPDX-FileCopyrightText: (c) 2024,2025,2026 Robert Di Pardo
# SPDX-License-Identifier: GPL-3.0-or-later
#
# Permitted usage is detailed in the COPYING file.
#
name: Build

on:
  push:
    paths:
      - 'src/**'
      - '**/*.lpk'
      - '.github/workflows/build.yml'
  pull_request:

permissions:
  contents: read

env:
  LAZARUS_VERSION: '4.4'
  ARTIFACT_NAME: fpgeanyplugindemo

jobs:
  linux-make-all:
    runs-on: ubuntu-latest
    outputs:
      docs-changed: ${{ steps.changes.outputs.paths }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          submodules: recursive
          fetch-depth: 0
      - name: Run fpdocs file filter
        id: changes
        run: |
          case "$(git log -1 --name-status --no-merges | grep -cE '^M.*(/fpdocs.yml$|docs/)')" in
            '0' ) echo 'paths=false' >> "$GITHUB_OUTPUT" ;;
             *  ) echo 'paths=true' >> "$GITHUB_OUTPUT" ;;
          esac
      - name: Restore Lazarus packages
        id: lazarus-deb-cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: '/tmp/lazarus-src'
          key: lazarus-${{ env.LAZARUS_VERSION }}-${{ runner.os }}
      - name: Install Lazarus ${{ env.LAZARUS_VERSION }}
        run: |
          curl -sSL https://bitbucket.org/rdipardo/lazarus-orb/raw/alpha/src/scripts/install_lazarus.sh | bash
        env:
          # https://askubuntu.com/a/1421221
          NEEDRESTART_MODE: l
          DEBIAN_FRONTEND: noninteractive
      - name: Build Geany
        run: bash ../.github/build_geany.sh
        working-directory: geany
      - name: Build package and sample plugin
        run: make
      - name: Upload ${{ env.ARTIFACT_NAME }}.so
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ env.ARTIFACT_NAME }}.so
          path: example/bin/x86_64-linux/Release/${{ env.ARTIFACT_NAME }}.so

  windows-lazbuild:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Restore Lazarus installer
        id: lazarus-exe-cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: 'C:\lazarus-src'
          key: lazarus-${{ env.LAZARUS_VERSION }}-${{ runner.os }}
      - name: Install Lazarus ${{ env.LAZARUS_VERSION }}
        run: |
          irm -Uri https://bitbucket.org/rdipardo/lazarus-orb/raw/alpha/src/scripts/install_windows_lazarus.ps1 | iex
      - name: Install GTK
        uses: msys2/setup-msys2@4f806de0a5a7294ffabaff804b38a9b435a73bda # v2.30.0
        with:
          location: 'C:\Users\Public'
          msystem: mingw64
          install: mingw-w64-x86_64-gtk3
      - name: Configure GTK library path
        shell: bash
        run: |
          sed -e "s/\({\$LibraryPath \).*$/\1'C:\/Users\/Public\/msys64\/mingw64\/lib'}/" -i example/fpgeanyplugindemo.lpr
      - name: Build plugin
        run: lazbuild --ws=gtk3 .\example\fpgeanyplugindemo.lpr
      - name: Upload ${{ env.ARTIFACT_NAME }}.dll
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ env.ARTIFACT_NAME }}.dll
          path: example/bin/x86_64-win64/Release/${{ env.ARTIFACT_NAME }}.dll

  publish-docs:
    needs: linux-make-all
    if: ${{ needs.linux-make-all.outputs.docs-changed == 'true' }}
    uses: rdipardo/fpgeanyplugin/.github/workflows/fpdocs.yml@main
    with:
      lazarus-version: '4.4'
    permissions:
      contents: read
      pages: write     # to deploy to Pages
      id-token: write  # to verify the deployment originates from an appropriate source
