# Source: https://github.com/actions/starter-workflows/blob/main/pages/static.yml
#
# SPDX-FileCopyrightText: (c) 2020 GitHub
# SPDX-License-Identifier: MIT
#
name: Publish Docs

on:
  workflow_call:
    inputs:
      lazarus-version:
        required: true
        type: string

permissions:
  contents: read

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    concurrency:
      group: rel-${{ inputs.lazarus-version }}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Restore Lazarus packages
        id: lazarus-deb-cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: '/tmp/lazarus-src'
          key: lazarus-${{ inputs.lazarus-version }}-${{ runner.os }}
      - name: Install Lazarus ${{ inputs.lazarus-version }}
        run: |
          sudo apt-get -qq update
          sudo apt-get -qqy install python3-lxml
          curl -sSL https://bitbucket.org/rdipardo/lazarus-orb/raw/alpha/src/scripts/install_lazarus.sh | bash
        env:
          # https://askubuntu.com/a/1421221
          NEEDRESTART_MODE: l
          DEBIAN_FRONTEND: noninteractive
          LAZARUS_VERSION: ${{ inputs.lazarus-version }}
      - name: Generate docs
        run: |
          sudo chown -R $USER /usr/share/lazarus
          docs/build
      - name: Setup Pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0
      - name: Upload artifact
        uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3.0.1
        with:
          path: './docs/html'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
